.app-wrapper {
  display: grid;
  grid-template-areas:
    "header header header"
    "navbar content ava"
    "navbar content footer";
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 15% 1fr 34%;
  grid-gap: 10px;
  height: 100vh;
  margin: 0;
}
.app-wrapper-content {
  margin: 5px;
  border-radius: 15px;
  grid-area: content;
  background-color: rgba(217, 235, 56, 0.5);
}










